.main-container {
	padding: 10px;
	padding-bottom: 0;
	margin-bottom: auto;

	position: relative;
	#profile__img {
		width: 5em;
		height: 5em;
		border-radius: 130px;
	}
	#share__btn {
		position: absolute;
		top: 0;
		right: 22%;
	}
	h3 {
		margin-top: 15px;
		margin-bottom: 20px;
		font-size: 25px;
		letter-spacing: 1px;
	}
	.link {
		list-style-type: none;
		width: 70%;
		margin: auto;
		li {
			// background-color: #eaecf0;

			background: linear-gradient(to left, #eaecf0 50%, #a8aaad 50%) right;
			background-size: 200%;
			transition: 0.5s ease-out;
			border-radius: 10px;
			margin: 15px 0;
			&:hover {
				cursor: pointer;
				// background-color: #a8aaad;
				background-position: left;
			}
			a {
				padding: 10px;
				text-decoration: none;
				color: #000;
				font-weight: 500;
				display: block;
			}
			&:last-child {
				display: none;
			}
		}
	}
	div.social {
		margin: 7px 25px;
		img {
			width: 15px;
			margin-left: 25px;
		}
	}
}
