.layout {
	position: relative;
	height: 100vh;

	display: flex;
	flex-direction: column;
	.container {
		margin-top: 2em;
		margin-bottom: auto;

		justify-self: center;
		align-self: center;

		max-width: 700px;
		width: 100%;
	}
}
